body div {
  border: lightgray solid 1px;
  padding: 20px 10px;
  border-radius: 20px;
  font-family: "Anaheim", Arial, Helvetica, sans-serif;
  font-size: 120%;
  background-color: white;
}
body {
  margin: 20px 10px;
  padding: 20px 70px;
  background-color: #fafad2;
  border: white solid 1px;
}

body h2 {
  padding: 10px;
  text-align: center;
  font-size: 150%;
}

html {
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}
.Details {
  margin: 10px;
}
textarea {
  overflow: hidden;
  width: 100%;
}
input[type="submit"] {
  background-color: darkblue;
  color: rgb(226, 241, 10);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: black;
}
