* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.bar {
  font-size: 32px;
  margin: auto 0;
}

nav {
  box-shadow: 0px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  background-color: white;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
  padding: 0px 100px;
}

.main_img,
.main_img img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

/* .main_img {
  margin: 50px;
} */

.head_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px auto;
}

.off span {
  background-color: green;
  padding: 5px;
  color: white;
}

.head_content h1 {
  font-size: 72px;
  margin: ;
}

.head_content button {
  background-color: #ffc066;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ffc066;
  margin-top: 20px;
  align-self: flex-start;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.head_content button:hover {
  background-color: goldenrod;
  scale: 1.05;
}

.features {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

.equal {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 300px;
}

.feature_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divider {
  border: 1px solid gray;
  margin: 40px 0;
}

.our_menu {
  margin-top: 60px;
  text-align: center;
}
.our_menu span {
  background-color: #149f39;
  color: white;
  padding: 10px 20px;
}

.menu h1 {
  text-align: center;
  margin-top: 30px;
}

.grid {
  display: grid;
  gap: 2%;
  margin: 3% 8% 3% 8%;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.grid div {
  /* min-width: 100px;
  min-height: 100px; */
  background-color: skyblue;
  text-align: center;
  font-size: 30px;
}
.box1 {
  grid-area: I1;
}

.box2 {
  grid-area: I2;
}

.box3 {
  grid-area: I3;
}

.box4 {
  grid-area: I4;
}

.box5 {
  grid-area: I5;
}

.box6 {
  grid-area: I6;
}

.box7 {
  grid-area: I7;
}

.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s ease-in-out;
  /* filter: grayscale(90%); */
}

.grid img:hover {
  scale: 1.03;
  box-shadow: 5px 5px 5px gray;
  filter: grayscale(0%);
}

footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  padding: 100px;
  background-color: #fff0db;
}

@media (max-width: 780px) {
  .head {
    gap: 20px;
    margin-top: 10px;
    padding: 0px 10px;
    flex-direction: column;
  }

  .features {
    flex-wrap: wrap;
  }
}
